@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: kaftan;
    src: url(fuente/kaftan/kaftan-trial.otf);
}
    /* font-family: 'Montserrat', sans-serif; */

    /* kaftan */


 /* RESETEO UNIVERSAL */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME INICIA*/

body{
    background-color: #010B13;
    color: #78c5ef;
    font-family: Montserrat;
}

/* NAVBAR HOME INICIO */
.barraIndex{
    font-size: 6vw;
    font-family: kaftan;
    text-transform: uppercase;
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .barraIndex{
        font-size: 10vw;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #78c5ef;
}

li :hover{
    color: #546f87;
    transition: all 0.3s;
}
/* NAVBAR HOME FIN */

/* MAIN INDEX */
.mainIndex{
    display: grid;
    align-content: flex-end;
    text-transform: uppercase;
    padding-left: 45px;
    font-family: Montserrat;
    margin-bottom: 30px;
}

.tituloIndex{
    display: grid;
    align-items: flex-end;
    font-size: 4.5vh;
    letter-spacing: 2px;
}

@media only screen and (max-width: 296px){
    .tituloIndex{
        font-size: 3.5vh;
    }
}

.pIndex{
    display: grid;
    align-items: flex-end;
    font-size: 2.5vh;
    font-weight: lighter;
}

@media only screen and (max-width: 296px){
    .pIndex{
        font-size: 2vh;
    }
}

.footerIndex{
    display: grid;
    font-size: 2vh;
    margin-top: 40px;
}
/* HOME FINALIZA */

/* NAVBAR ALL INICIA */
.navbar{
    background-color: #010B13 !important;
}

.navbar a{
    text-transform: uppercase;
    color: #78c5ef !important;
    font-size: 5vh;
}

.navbar i{
    color: #78c5ef;
}

.navbar a:hover{
    color: #546f87 !important;
}

.navbar-toggler{
    size: 1.26rem;
    border: 0;
}

@media only screen and (min-width: 100px) and (max-width: 575px){
    .navbar a{
        display: flex;
        justify-content: center;
        font-size: 3vh;
    }
}
/* NAVBAR ALL FIN */

/* SOBRE MI INICIA */
aside{
    height: 500px;
}

.imgSm{
    width: 330px;
    margin-top: -30px;
}

@media only screen and (min-width: 100px) and (max-width: 575px){
    .imgSm{
        width: 70%;
        padding-left: 45px;
    }
}

.mainSm{
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;
}

.mainSm h1{
    font-weight: bold;
}

.pSm{
    display: grid;
    align-content: flex-end;
    font-size: 2.5vh;
}
.footerSm{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}