@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@font-face {
  font-family: kaftan;
  src: url(fuente/kaftan/kaftan-trial.otf);
}
/* font-family: 'Montserrat', sans-serif; */
/* kaftan */
/* RESETEO UNIVERSAL */
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR GENERAL INICIA */
.navbar {
  background-color: #010B13 !important;
}

.navbar a {
  text-transform: uppercase;
  color: #78c5ef !important;
  font-size: 5vh;
}

.navbar i {
  color: #78c5ef;
}

.navbar a:hover {
  color: #49627C !important;
}

.navbar-toggler {
  size: 1.26rem;
  border: 0;
}

@media only screen and (min-width: 100px) and (max-width: 575px) {
  .navbar a {
    display: flex;
    justify-content: center;
    font-size: 3vh;
  }
}
/* NAVBAR GENERAL FINALIZA */
/* HOME INICIA*/
body {
  background-color: #010B13;
  color: #78c5ef;
  font-family: Montserrat;
}

/* NAVBAR HOME INICIO */
.barraIndex {
  font-size: 6vw;
  font-family: kaftan;
  text-transform: uppercase;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
  .barraIndex {
    font-size: 6vh;
    padding-left: 15px;
  }
  .barraIndex ul {
    padding-left: 0;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #78c5ef;
}

li :hover {
  color: #49627C;
  transition: all 0.3s;
}

/* NAVBAR HOME FIN */
/* MAIN INDEX */
.mainIndex {
  display: grid;
  align-content: flex-end;
  text-transform: uppercase;
  padding-left: 45px;
  font-family: Montserrat;
  margin-bottom: 20px;
}

.tituloIndex {
  display: grid;
  align-items: flex-end;
  font-size: 4.5vh;
  letter-spacing: 2px;
  font-weight: 700;
}

.pIndex {
  display: grid;
  align-items: flex-end;
  font-size: 2.5vh;
  font-weight: 400;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .mainIndex {
    padding-left: 15px;
    margin-bottom: 0;
  }
  .tituloIndex {
    font-size: 2.2vh;
  }
  .pIndex {
    font-size: 2.2vh;
  }
}
.footerIndex {
  display: grid;
  font-size: 2vh;
  margin-top: 40px;
}

/* HOME FINALIZA */
/* SOBRE MI INICIA */
aside {
  height: 500px;
}

.imgSm {
  width: 330px;
  margin-top: -30px;
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .imgSm {
    width: 70%;
    padding-left: 45px;
  }
}
.mainSm {
  display: grid;
  text-transform: uppercase;
  padding-left: 38px;
  margin-bottom: 30px;
}

.mainSm h1 {
  font-weight: bold;
}

.pSm {
  display: grid;
  align-content: flex-end;
  font-size: 2.5vh;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .mainSm {
    padding-left: 15px;
  }
  .mainSm h1 {
    font-size: 3vh;
  }
  .pSm {
    font-size: 1.5vh;
  }
}
.footerSm {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin-top: 10px;
}

/* SOBRE MI FINALIZA */
/* MIS TRABAJOS COMIENZA */
.mainTrabajos {
  height: 69.5vh;
  display: grid;
  text-transform: uppercase;
  padding-left: 38px;
  margin-bottom: 30px;
}

.mainTrabajos h1 {
  font-weight: bold;
}

.pTrabajos {
  display: grid;
  align-content: flex-end;
  font-size: 2.5vh;
  text-align: justify;
}

.footerTrabajos {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .mainTrabajos {
    height: auto;
    padding-left: 15px;
  }
  .mainTrabajos h1 {
    font-size: 3vh;
  }
  .pTrabajos {
    font-size: 1.5vh;
  }
}
/* MIS TRABAJOS FINALIZA */
/* REDES INICIA */
.mainRedes {
  height: 69.5vh;
  display: grid;
  text-transform: uppercase;
  padding-left: 38px;
  margin-bottom: 30px;
}

.mainRedes h1 {
  font-weight: bold;
}

.pRedes {
  display: grid;
  align-content: flex-end;
  font-size: 3vh;
  text-align: justify;
  padding-right: 7%;
}

.iconos {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 10vh;
  padding-left: 4%;
}

.iconos a {
  transition: all 0.2s ease-in-out;
}

.iconos a:hover {
  color: #49627C;
  transform: scale(1.1);
  transition: 0.2s;
}

.logoIg {
  margin-top: 20%;
  margin-bottom: 20%;
}

.logoTw {
  width: -moz-fit-content;
  width: fit-content;
}

.footerRedes {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 766px) {
  .mainRedes {
    height: auto;
  }
  .mainRedes h1 {
    font-size: 3vh;
  }
  .mainRedes p {
    font-size: 1.5vh;
  }
  .iconos {
    font-size: 6vh;
    padding-left: 40px;
  }
}
/* REDES FINALIZA */
/* CONTACTO INICIA */
.mainContacto {
  height: 70vh;
  display: grid;
  text-transform: uppercase;
  padding-left: 38px;
  margin-bottom: 30px;
}

.mainContacto h1 {
  font-weight: bold;
}

.pContacto {
  display: grid;
  align-content: flex-end;
  font-size: 3vh;
  text-align: justify;
  margin-bottom: 20px;
  padding-right: 7%;
}

#email {
  background-color: #2A5578;
  border: 0;
  color: #fff;
}

#email::-moz-placeholder {
  color: #c2e8ff;
}

#email::placeholder {
  color: #c2e8ff;
}

#name {
  background-color: #2A5578;
  border: 0;
  color: #fff;
}

#name::-moz-placeholder {
  color: #c2e8ff;
}

#name::placeholder {
  color: #c2e8ff;
}

#comment {
  background-color: #2A5578;
  border: 0;
  color: #fff;
}

#comment::-moz-placeholder {
  color: #c2e8ff;
}

#comment::placeholder {
  color: #c2e8ff;
}

.txtArea {
  resize: none;
}

.btn {
  background-color: #08376D;
  border: 0;
}

.footerContacto {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin-top: 10px;
}

@media only screen and (min-width: 0) and (max-width: 776px) {
  .mainContacto {
    height: auto;
    margin-bottom: 0;
    padding-left: 15px;
  }
  .mainContacto h1 {
    font-size: 3vh;
  }
  .pContacto {
    font-size: 1.5vh;
  }
  .formularioCont {
    padding-left: 15px;
    margin-top: -20px;
  }
  .form-label {
    font-size: 2.5vh;
  }
  .msj-label {
    font-size: 2.5vh;
  }
  #email {
    font-size: 2.5vh;
  }
  #name {
    font-size: 2.5vh;
  }
  #comment {
    font-size: 2.5vh;
  }
  .btn {
    font-size: 2vh;
    margin-bottom: 10px;
  }
}
/* CONTACTO FINALIZA *//*# sourceMappingURL=styles.css.map */