@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: kaftan;
    src: url(fuente/kaftan/kaftan-trial.otf);
}
    /* font-family: 'Montserrat', sans-serif; */

    /* kaftan */


/* RESETEO UNIVERSAL */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME INICIA*/

body{
    background-color: #010B13;
    color: #78c5ef;
    font-family: Montserrat;
}

/* NAVBAR HOME INICIO */
.barraIndex{
    font-size: 6vw;
    font-family: kaftan;
    text-transform: uppercase;
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .barraIndex{
        font-size: 10vw;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #78c5ef;
}

li :hover{
    color: #546f87;
    transition: all 0.3s;
}
/* NAVBAR HOME FIN */