@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: kaftan;
    src: url(../fuente/kaftan/kaftan-trial.otf);
}
    /* font-family: 'Montserrat', sans-serif; */

    /* kaftan */


/* RESETEO UNIVERSAL */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES PALETA DE COLORES INICIA
$colorbg: #010B13;
$colorfont: #78c5ef;
$colorbtn: #08376D;
// VARIABLES PALETA DE COLORES FINALIZA

// VARIABLES FUENTES INICIA
$fuentenav: kaftan;
$fuente: Montserrat;
$sizeh1: 3vh;
$sizep: 1.7vh;
// VARIABLES FUENTES FINALIZA

// SCROLLBAR INICIA
::-webkit-scrollbar{
    background-color: $colorbg;
}

::-moz-scrollbar{
    background-color: $colorbg;
}

::-o-scrollbar{
    background-color: $colorbg;
}
// SCROLLBAR FINALIZA

/* NAVBAR GENERAL INICIA */
.navbar{
    background-color: $colorbg !important;
}

.navbar a{
    text-transform: uppercase;
    color: $colorfont !important;
    font-size: 4vh;
}

.navbar i{
    color: $colorfont;
}

.navbar a:hover{
    color: #49627C !important;
}

.navbar-toggler{
    size: 1.26rem;
    border: 0;
}

@media only screen and (min-width: 100px) and (max-width: 575px){
    .navbar a{
        display: flex;
        justify-content: center;
        font-size: 3vh;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px){
    .navbar a{
        font-size: 3.5vh;
    }
}
/* NAVBAR GENERAL FINALIZA */

/* HOME INICIA*/
body{
    background-color: $colorbg;
    color: $colorfont;
    font-family: $fuente;
}

/* NAVBAR HOME INICIO */
.barraIndex{
    font-size: 6vw;
    font-family: $fuentenav;
    text-transform: uppercase;
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .barraIndex{
        font-size: 6vh;
        padding-left: 15px;
    }

    .barraIndex ul{
        padding-left: 0;
    }
}

.barraIndex li{
    list-style: none;
    transform: skew(0deg);
    transition: all 0.1s;
    width: fit-content;
}

.barraIndex li a{
    text-decoration: none;
    color: $colorfont;
}

.barraIndex li:hover{
    transition: all 0.1s;
    transform: skew(-15deg);
}
/* NAVBAR HOME FIN */

/* MAIN INDEX */
.mainIndex{
    display: grid;
    align-content: flex-end;
    text-transform: uppercase;
    padding-left: 45px;
    font-family: $fuente;
    margin-bottom: 20px;
}

.tituloIndex{
    display: grid;
    align-items: flex-end;
    font-size: 4.5vh;
    letter-spacing: 2px;
    font-weight: 700;
}

.pIndex{
    display: grid;
    align-items: flex-end;
    font-size: 2.5vh;
    font-weight: 400;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .mainIndex{
        padding-left: 15px;
        margin-bottom: 0;
    }

    .tituloIndex{
        font-size: 2.2vh;
    }

    .pIndex{
        font-size: 2.2vh;
    }
}

.footerIndex{
    display: grid;
    font-size: 2vh;
    margin-top: 40px;
}
/* HOME FINALIZA */

/* SOBRE MI INICIA */
aside{
    height: 500px;
}

.imgSm{
    width: 330px;
    margin-top: -30px;
}

@media only screen and (min-width: 0px) and (max-width: 575px){
    .imgSm{
        width: 70%;
        padding-left: 45px;
    }
}

.mainSm{
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;
}

.mainSm h1{
    font-weight: bold;
}

.pSm{
    display: grid;
    align-content: flex-end;
    font-size: 2.5vh;
}

@media only screen and (min-width: 0px) and (max-width: 576px){
    .mainSm{
        padding-left: 15px;
    }
    
    .mainSm h1{
        font-size: $sizeh1;
    }

    .pSm{
        font-size: $sizep;
    }
}

.footerSm{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}
/* SOBRE MI FINALIZA */

/* MIS TRABAJOS COMIENZA */
.mainTrabajos{
    height: 69.5vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;
}

.mainTrabajos h1{
    font-weight: bold;
}

.pTrabajos{
    display: grid;
    align-content: flex-end;
    font-size: 2.5vh;
    margin-top: 160px;
}

.mainTrabajos a{
    width: fit-content;
    height: fit-content;
}

.mainTrabajos button{
    background-color: $colorbtn;
    color: #fff;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
}

.mainTrabajos button:hover{
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    transition: all 0.3s;
    padding-left: 40px;
    padding-right: 40px;
}

.footerTrabajos{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .mainTrabajos{
        height: auto;
        padding-left: 15px;
    }

    .mainTrabajos h1{
        font-size: $sizeh1;
    }

    .pTrabajos{
        font-size: $sizep;
        margin-top: 0;
    }
}
/* MIS TRABAJOS FINALIZA */

/* HABILIDADES INICIA */
.mainHabilidades{
    height: 69.5vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;
}

.mainHabilidades h1{
    font-weight: bold;
}

.pHabilidades{
    display: grid;
    align-content: flex-end;
    font-size: 3vh;
    padding-right: 7%;
}

.iconos{
    font-size: 10vh;
}

.iconos ul{
    padding-left: 0;
}

.iconos li{
    list-style: none;
    width: fit-content;
}

.iconos a{
    display: grid;
    grid-template-columns: repeat(2, 10vh);
    color: $colorfont;
    font-weight: lighter;
    font-family: $fuente;
    text-decoration: none;
    width: fit-content;
}

.iconHtml{
    margin-bottom: 52px;
}

.iconCss{
    margin-bottom: 52px;
}

.iconGithub{
    margin-bottom: 52px;
}

.footerHabilidades{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 766px){
    .mainHabilidades{
        height: auto;
        padding-left: 15px;
    }

    .mainHabilidades h1{
        font-size: $sizeh1;
    }

    .pHabilidades{
        font-size: $sizep;
    }

    .iconos{
        font-size: 4.5vh;
        padding-left: 15px;
    }
}
/* HABILIDADES FINALIZA */

/* CONTACTO INICIA */
.mainContacto{
    height: 70vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;
}

.mainContacto h1{
    font-weight: bold;
}

.pContacto{
    display: grid;
    align-content: flex-end;
    font-size: 3vh;
    margin-bottom: 20px;
    padding-right: 7%;
}

.formularioCont{
    margin-bottom: 20px;
}

#email{
    background-color: #2A5578;
    border: 0;
    color: #fff;
}

#email::placeholder{
    color: #c2e8ff;
}

#name{
    background-color: #2A5578;
    border: 0;
    color: #fff;
}

#name::placeholder{
    color: #c2e8ff;
}

#comment{
    background-color: #2A5578;
    border: 0;
    color: #fff;
}

#comment::placeholder{
    color: #c2e8ff;
}

.txtArea{
    resize: none;
}

.btn{
    background-color: $colorbtn;
    border: 0;
}

.footerContacto{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0) and (max-width: 776px){
    .mainContacto{
        height: auto;
        margin-bottom: 0;
        padding-left: 15px;
    }

    .mainContacto h1{
        font-size: $sizeh1;
    }

    .pContacto{
        font-size: $sizep;
    }

    .formularioCont{
        padding-left: 15px;
        margin-top: -20px;
    }

    .form-label{
        font-size: 2.5vh;
    }

    .msj-label{
        font-size: 2.5vh;
    }

    #email{
        font-size: 2.5vh;
    }

    #name{
        font-size: 2.5vh;
    }

    #comment{
        font-size: 2.5vh;
    }

    .btn{
        font-size: 2vh;
        margin-bottom: 10px;
    }
}
/* CONTACTO FINALIZA */