@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: kaftan;
    src: url(../fuente/kaftan/kaftan-trial.otf);
}
    /* font-family: 'Montserrat', sans-serif; */

    /* kaftan */


/* RESETEO UNIVERSAL */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES PALETA DE COLORES INICIA
$colorbg: #010B13;
$colorfont: #78c5ef;
$colorbtn: #08376D;
// VARIABLES PALETA DE COLORES FINALIZA

// VARIABLES FUENTES INICIA
$fuentenav: kaftan;
$fuente: Montserrat;
$sizeh1: 3vh;
$sizep: 1.7vh;
// VARIABLES FUENTES FINALIZA

// SCROLLBAR INICIA
::-webkit-scrollbar{
    background-color: $colorbg;
}

::-moz-scrollbar{
    background-color: $colorbg;
}

::-o-scrollbar{
    background-color: $colorbg;
}
// SCROLLBAR FINALIZA

/* NAVBAR GENERAL INICIA */
.navbar{
    background-color: $colorbg !important;

    a{
        text-transform: uppercase;
        color: $colorfont !important;
        font-size: 4vh;

        &:hover{
            color: #49627C !important;
        }
    }

    i{
        color: $colorfont;
    }
}

.navbar-toggler{
    size: 1.26rem;
    padding-top: 10px;
    border: 0;
}

@media only screen and (min-width: 0px) and (max-width: 575px){
    .navbar a{
        display: flex;
        justify-content: center;
        font-size: 3vh;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px){
    .navbar a{
        font-size: 3.5vh;
    }
}
/* NAVBAR GENERAL FINALIZA */

/* HOME INICIA*/
// NAVBAR HOME INICIA
body{
    background-color: $colorbg;
    color: $colorfont;
    font-family: $fuente;

    .barraIndex{
        font-size: 13vmin;
        font-family: $fuentenav;
        text-transform: uppercase;

        li{
            list-style: none;
            transform: skew(0deg);
            transition: all 0.1s;
            width: fit-content;

            &:hover{
                transition: all 0.1s;
                transform: skew(-15deg);
            }

            a{
                text-decoration: none;
                color: $colorfont;
            }
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 1000px){
    .barraIndex{
        font-size: 4.5vmax;
        padding-left: 15px;

        ul{
        padding-left: 0;
        }
    }
}
/* NAVBAR HOME FIN */

// SECTION REDES COMIENZA
section{
    position: relative;
}

.redes{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-top: 20px;
    padding-left: 45px;
    position: absolute;

    a{
        width: fit-content;
        height: fit-content;
        color: $colorfont;
        padding-bottom: 15px;
        font-size: 2vw;
        transition: all 0.3s;

        &:hover{
            color: #49627C;
            transform: scale(1.3);
            transition: all 0.3s;
        }
    }

    i{
        letter-spacing: 10px;
        width: fit-content;
    }
}

@media only screen and (min-width: 612px) and (max-width: 900px) {
    .redes{
        display: flex;
        flex-direction: row;
        padding-left: 45px;
        position: absolute;

        a{
            font-size: 3vw;
            position: relative;
            padding-right: 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 612px){
    .redes{
        display: flex;
        flex-direction: row;
        padding-left: 45px;
        position: relative;

        a{
            font-size: 3vw;
        }
    }
}

@media only screen and (max-width: 577px){
    .redes{
        display: flex;
        flex-direction: row;
        position: relative;
        padding-left: 15px;

        a{
            font-size: 5vw;
            padding-right: 20px;
            padding-top: 20px;
        }
    }
}
// SECTION REDES FINALIZA

/* MAIN INDEX */
.mainIndex{
    display: grid;
    align-content: flex-end;
    text-transform: uppercase;
    padding-left: 45px;
    font-family: $fuente;
    margin-bottom: 20px;

    .tituloIndex{
        display: grid;
        align-items: flex-end;
        font-size: 4.5vmin;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .pIndex{
        display: grid;
        align-items: flex-end;
        font-size: 2.5vmin;
    }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .mainIndex{
        padding-left: 15px;
        margin-bottom: 0;
        margin-top: -30px;

        .tituloIndex{
            font-size: 2.2vh;
        }

        .pIndex{
            font-size: 2.2vh;
        }
    }
}
// MAIN INDEX FINALIZA

// FOOTER INDEX INICIA
.footerIndex{
    p{
        display: grid;
        font-size: 2vh;
        margin-top: 40px;
        text-align: center;
    }
}
/* HOME FINALIZA */

/* SOBRE MI INICIA */
.imgPerfil{
    max-width: 100%;
    padding-left: 40px;

    .imagen{
        width: 40vmin;
        height: 90%;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 576px){
    .imgPerfil{
        max-width: 100%;
        height: auto;
        margin-top: -30px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 576px){
    .imgPerfil{
        margin-top: -30px;
        padding-left: 15px;

        .imagen{
            width: 30vmax;
            padding-top: 0;
        }
    }
}

.mainSm{
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;

    h1{
        font-weight: bold;
    }

    .pSm{
        display: grid;
        align-content: flex-end;
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 576px){
    .mainSm{
        padding-left: 15px;

        h1{
            font-size: $sizeh1;
        }

        
        .pSm{
            font-size: $sizep;
        }
    }
}

@media only screen and (max-width: 577px){
    .pSm{
        font-size: 1.5vmax;
    }
}

.footerSm{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}
/* SOBRE MI FINALIZA */

/* MIS TRABAJOS COMIENZA */
.mainTrabajos{
    height: 69.5vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;

        a{
            width: fit-content;
            height: fit-content;
        }

        button{
            background-color: $colorbtn;
            color: #fff;
            width: fit-content;
            height: fit-content;
            transition: all 0.3s;

            &:hover{
                color: #fff;
                background-color: #0b5ed7;
                border-color: #0a58ca;
                transition: all 0.3s;
                padding-left: 40px;
                padding-right: 40px;
            }
        }

    h1{
        font-weight: bold;
    }

    .pTrabajos{
        display: grid;
        align-content: flex-end;
        font-size: 2.5vh;
        margin-top: 160px;
    }
}

.footerTrabajos{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .mainTrabajos{
        height: auto;
        padding-left: 15px;

        h1{
            font-size: $sizeh1;
        }

        .pTrabajos{
            font-size: $sizep;
            margin-top: 0;
        }
    }
}
/* MIS TRABAJOS FINALIZA */

/* HABILIDADES INICIA */
.mainHabilidades{
    height: 69.5vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;

    h1{
        font-weight: bold;
    }

    .pHabilidades{
        display: grid;
        align-content: flex-end;
        font-size: 2.5vh;
        padding-right: 7%;
    }
}

.iconos{
    font-size: 10vh;

    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        text-align: center;
        width: fit-content;

        li{
            display: inline;
            font-size: 2.5vw;
            background-color: #000D1B;
            border-radius: 20px;
            padding-top: 5%;
            box-shadow: 0 0 5px #000509;
            height: 14vw;
            width: 18vw;

            i{
                display: block;
                padding-top: 40px;
                font-size: 5vw;

                span{
                    font-size: 2vw;
                }
            }
        }
    }
}

.footerHabilidades{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 766px){
    .mainHabilidades{
        height: auto;
        padding-left: 15px;

        h1{
            font-size: $sizeh1;
        }

        .pHabilidades{
            font-size: $sizep;
        }
    }

    .iconos ul{
        padding-left: 5px;
        width: fit-content;

        li{
            display: grid;
            align-items: center;
            align-content: center;
            background-color: #000D1B;
            border-radius: 5px;
            box-shadow: 0 0 5px #000509;
            width: 25vw;
            height: 15vmax;

            i{
                display: grid;
                align-content: center;
                padding: 0px;
                font-size: 4vmax;

                span{
                    display: grid;
                    align-items: center;
                    font-size: 2.5vmax;
                }
            }
        }
    }
}

@media only screen and (min-width: 766px){
    .iconos i{
        padding-top: 2vw;
    }
}
/* HABILIDADES FINALIZA */

/* CONTACTO INICIA */
.mainContacto{
    height: 70vh;
    display: grid;
    text-transform: uppercase;
    padding-left: 38px;
    margin-bottom: 30px;

    h1{
        font-weight: bold;
    }

    .pContacto{
        display: grid;
        align-content: flex-end;
        font-size: 3vh;
        margin-bottom: 20px;
        padding-right: 7%;
    }
}

.formularioCont{
    margin-bottom: 20px;

    #email{
        background-color: #2A5578;
        border: 0;
        color: #fff;

        &::placeholder{
            color: #c2e8ff;
        }
    }

    #name{
        background-color: #2A5578;
        border: 0;
        color: #fff;

        &::placeholder{
            color: #c2e8ff;
        }
    }

    #comment{
        background-color: #2A5578;
        border: 0;
        color: #fff;

        &::placeholder{
            color: #c2e8ff;
        }
    }

    .txtArea{
        resize: none;
    }

    .btn{
        background-color: $colorbtn;
        border: 0;
    }
}

.footerContacto{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 10px;
}

@media only screen and (min-width: 0) and (max-width: 776px){
    .mainContacto{
        height: auto;
        margin-bottom: 0;
        padding-left: 15px;

        h1{
            font-size: $sizeh1;
        }

        .pContacto{
            font-size: $sizep;
        }

        .formularioCont{
            padding-left: 15px;
            margin-top: -20px;

            .form-label{
                font-size: 2.5vh;
            }

            .msj-label{
                font-size: 2.5vh;
            }

            
        .form-label{
            font-size: 2.5vh;
        }

        .msj-label{
            font-size: 2.5vh;
        }

        #email{
            font-size: 2.5vh;
        }

        #name{
            font-size: 2.5vh;
        }

        #comment{
            font-size: 2.5vh;
        }

        .btn{
            font-size: 2vh;
            margin-bottom: 10px;
        }
            }
    }
}
/* CONTACTO FINALIZA */